# Core functionality - changes here should be rare!
/src/app.py                   @clementcharabot13
/src/backend/database.py      @clementcharabot13
/src/backend/routers/auth.py  @clementcharabot13

# The frontend will need refactored soon to be more object oriented.
/src/static/   @clementcharabot13
